Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h.in
config.sub
configure
depcomp
gnome-doc-utils.make
gucharmap/Makefile.in
help/Makefile.in
help/it/Makefile.in
help/ja/Makefile.in
help/zh_CN/Makefile.in
help/zh_TW/Makefile.in
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
ltmain.sh
missing
mkinstalldirs
pixmaps/Makefile.in
po/Makefile.in.in
po/gucharmap.pot
po/missing
po/notexist
docs/reference/*.bak
docs/reference/tmpl/*.bak
